<?php
// Heading
$lang['heading_title']    = 'Modules';

// Text
$lang['text_success']     = 'Success: You have modified modules!';
$lang['text_layout']      = 'After you have installed and configured a module you can add it to a layout <a href="%s" class="alert-link">here</a>!';
$lang['text_add']         = 'Add Module';
$lang['text_list']        = 'Module List';

// Column
$lang['column_name']      = 'Module Name';
$lang['column_action']    = 'Action';

// Entry
$lang['entry_code']       = 'Module';
$lang['entry_name']       = 'Module Name';

// Error
$lang['error_permission'] = 'Warning: You do not have permission to modify modules!';
$lang['error_name']       = 'Module Name must be between 3 and 64 characters!';
$lang['error_code']       = 'Extension required!';